.app {
  min-height: 100vh;
  position: relative;
}

.page-container {
  height: 100%;
  padding-bottom: 100px;
}

@media (min-width:768px) {
  .w-md-12 {
    width: 12.5% !important;
  }
}

.app .footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  height: 100px;
}

.footer .nav-link {
  padding: 0.5rem;
  display: inline;
}

.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group>.form-check:not(:last-child)>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group>.form-check:not(:first-child)>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.bottom-40 {
  bottom: 40% !important;
}

.bg-blur {
  backdrop-filter: blur(5px);
  --bs-bg-opacity: 0.5 !important;
}

.inputgroup-input-fix {
  overflow: clip;
}

.ternary-switch {
  width: 40px;
}

.tooltip {
  .tooltip-inner {
    color: var(--bs-light)
  }
}

.dbc input {
  border-color: rgba(100, 100, 100, .4) !important;
}
.dbc input::placeholder {
  color: var(--bs-secondary-color) !important;
}

/* DECK DIFF */
.deck-diff-input {
  height: 250px;
}

/* BATTLE JOURNAL */
.notes-template textarea {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.notes-template .accordion-item {
  border-top: 0;
  border-color: rgba(100, 100, 100, .4) !important;
}

.notes-template .accordion-item:first-of-type,
.notes-template .accordion-button,
.notes-template .accordion-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

/* PRIZING CHECKING */
.prize-check-row td {
  vertical-align: middle;
}

.deck-stack {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x proximity;
}

.card-in-stack {
  flex: 0 0 auto; /* Do not grow, do not shrink, basis auto */
  scroll-snap-align: center; /* Snap align */
  transform: scale(0.97);
}

.card-in-stack.target {
  transform: scale(1);
}
