.home-card .card-header.meta {
    position: relative;
    background: linear-gradient(to right, var(--bs-card-bg) 15%, rgba(255, 255, 255, 0)), url('meta-analysis.png');
    background-size: cover;
    background-position: right;
}
.home-card .card-header.decklist {
    position: relative;
    background: linear-gradient(to right, var(--bs-card-bg) 15%, rgba(255, 255, 255, 0)), url('decklist-analysis.png');
    background-size: cover;
    background-position: right;
}
.home-card .card-header.card {
    position: relative;
    background: linear-gradient(to right, var(--bs-card-bg) 15%, rgba(255, 255, 255, 0)), url('card-analysis.png');
    background-size: cover;
    background-position: right;
}
.home-card:hover {
    border: 2px solid var(--bs-dark) !important;
}
.home-card {
    border: 2px solid var(--bs-light) !important;
}
.home-card a {
    text-decoration: none;
    color: var(--bs-body);
}
