.tier-list-row {
    min-height: 100px;
    border: 3px solid var(--bs-dark);
}

.tier-list-header {
    text-align:center;
    border-right: 3px solid var(--bs-dark);
    display:flex;
    position: relative;
    flex-direction:row;
    justify-content:center;
    height: 100%;
}

.tier-list-header>p {
    position: absolute;
	top: 50%;
    transform: translateY(-50%);
    margin: 0;
    height: auto;
}

.bg-orange {
    --bs-bg-opacity:1;
    background-color: var(--bs-orange);
}

.bg-teal {
    --bs-bg-opacity:1;
    background-color: #96B762;
}

.bg-red {
    --bs-bg-opacity:1;
    background-color: var(--bs-red);
}

.bg-yellow {
    --bs-bg-opacity:1;
    background-color: var(--bs-yellow);
}

.bg-green {
    --bs-bg-opacity:1;
    background-color: var(--bs-green);
}

.tier-list-content {
    background-color: var(--bs-light);
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.deck-card {
    margin: .1rem;
    padding: 0.6rem;
}
.deck-card span {
    display: flex;
    align-items: center;
}